<div class="header">
    <div class="h_top">
        <p><i>欢迎来到广州哲野精密机械有限公司网站！联系电话：<span class="phone" style="float:none;"></span></i>
        </p>
    </div>
    <div class="h_con">
        <h1 class="logo"><a href="#" title=""><img style="height: 110px;" src="images/logo.png" alt="" title="深圳市易创峰电子有限公司"/></a></h1>

        <!--<div class="search">-->
            <!--<script language="Javascript">-->
                <!--function fn_searchForm() {-->
                    <!--if (document.listform.key.value == "" || document.listform.key.value == "(请输入搜索关键字)") {-->
                        <!--alert("(请输入搜索关键字)");-->
                        <!--document.listform.skeyword.focus();-->
                    <!--} else {-->
                        <!--listform.action = "#";-->
                        <!--document.listform.submit();-->
                    <!--}-->
                <!--}</script>-->
            <!--<form action="search.html">-->
                <!--<input name="key" type="text" class="read" id="key" value="(请输入搜索关键字)" size="35"-->
                       <!--onFocus="this.value=''"/>-->
                <!--<input name="" type="submit" value="" class="bt"/>-->
                <!--<input name="act" type="hidden" value="seartch"/>-->
            <!--</form>-->
        <!--</div>-->
    </div>
    <div class="h_nav">
        <ul>
            <li><a href="index.html" title="网站首页" >网站首页</a></li>
            <li><a href="about.html" title="公司简介" >公司简介</a></li>
            <li><a href="products.html?kindId=-1" title="产品中心">产品中心</a></li>
            <!--<li><a href="cases.html" title="合作案例">合作案例</a></li>-->
            <li><a href="news.html" title="新闻资讯">新闻资讯</a></li>
            <!--<li><a href="download.html" title="资料下载">资料下载</a></li>-->
            <!--<li><a href="zhao.html" title="人才招聘">人才招聘</a></li>-->
            <li><a href="message.html" title="在线留言">在线留言</a></li>
            <li class="nobot"><a href="contact.html" title="联系我们">联系我们</a></li>
        </ul>
    </div>
</div>