<footer class="footer">
    <div style="text-align: center" class="subnav"><p><a href="index.html" title="网站首页" class="cur">网站首页</a><a href="about.html"
                                                                                    title="公司简介">公司简介</a>
        <a href="products.html" title="产品中心">产品中心</a>
        <!--<a href="cases.html" title="合作案例">合作案例</a>-->
        <a href="news.html" title="新闻资讯">新闻资讯</a>
        <!--<a href="download.html" title="资料下载">资料下载</a>-->
        <!--<a href="zhao.html" title="人才招聘">人才招聘</a>-->
        <a href="message.html" title="在线留言">在线留言</a>
        <a href="contact.html" title="联系我们" class="last">联系我们</a></p></div>
    <div class="copyright">
        <p>广州哲野精密机械有限公司　版权所有 2017 【TETUNO】 </p>

        <p>电话：<span class="phone"></span>　联系人：<span class="people"></span></p>


        <p>中华华人民共和国电信与信息服务业务经营许可证》编号：粤ICP备XXX号</p>
    </div>
</footer>